.idea/.name
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
*.iml
.idea/copyright
.idea/inspectionProfiles
.idea/fileTemplates
target/
*.ipr
*.iwl
*.iws
.gradle/
build/
classes/
target/
out/
